<div class="container">
	<div class="jumbotron">
		
		<h1 class="display-4"> NISSAN	 </h1>

		<img src={{logo}}>
		<p class="lead"> {{pais}}</p>

		<p class="lead">Sector de venta:
		{{sectorVentas}}</p>
		<hr class="my-4">

		<h1 class="display-6"> Origen </h1>
		<p class="lead"> Originario de {{pais}}
		inicio de operaciones en el año {{anioFundacion}}</p>
		
	</div> 
</div>